$textColor: #373737;
$textTopBarColor: #FFF;
$placeholderColor: #7b7772;
$topBarColor: #2f8397;
$borderColor: #d6d2ce;
$borderFocusColor: green;
$headerColor: #FFF;
$blockBackgroundColor: #FFF;
$hederSeparateTop: #f27636;
$hederSeparateMeddle: #f59553;
$hederSeparateBottom: #988d7f;
$buttonColor: #ee7033;
$errorColor: red;